# GenAI-Camp: Day 01
## Lesson: Data Understanding with Pandas

This lesson is intended to show you the basics of data understanding using *pandas*.

During this lesson you will learn how to ...

- read tabular data
- explore descriptive statistics
- do simple data manipulation

### Set up the environment
Import the necessary libraries, set constants, and define helper functions.

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# Check runtime environment to make sure we are running in a colab environment. 
if os.getenv("COLAB_RELEASE_TAG"):
   COLAB = True
   print("Running on COLAB environment.") 
else:
   COLAB = False
   print("WARNING: Running on LOCAL environment.")

In [ ]:
# Define path of ressources
if COLAB:
    # Clone the data repository into colab
    !git clone https://github.com/openknowledge/workshop-genai-camp-data.git
    DATA_PATH = "/content/workshop-genai-camp-data/day-01/data"
else:
    DATA_PATH = "../data"
IMDB_FILE = DATA_PATH + "/imdb_dataset.csv"

### Introduction: [Pandas](https://pandas.pydata.org/docs/)

In [ ]:
# Create a sample dataframe for demonstration
data = {
    'Movie': ['Inception', 'The Dark Knight', 'Interstellar', 'Dunkirk', 'Greatest Showman'],
    'Year': [2010, 2008, 2014, 2017, 2017],
    'Rating': [8.8, 9.0, 8.6, 7.9, 7.5]
}

# Load the sample data into a pandas DataFrame
df_introduction = pd.DataFrame(data)
df_introduction

              Movie  Year  Rating
0         Inception  2010     8.8
1   The Dark Knight  2008     9.0
2      Interstellar  2014     8.6
3           Dunkirk  2017     7.9
4  Greatest Showman  2017     7.5

In [ ]:
# A column of a dataframe is called Series
type(df_introduction['Movie'])

pandas.core.series.Series

In [ ]:
# Accessing a column in a dataframe returns the Series
df_introduction['Movie']

0           Inception
1     The Dark Knight
2        Interstellar
3             Dunkirk
4    Greatest Showman
Name: Movie, dtype: object

In [ ]:
# Filter the dataset to include only movies with a rating of 8.0 or higher
high_rated_movies = df_introduction[df_introduction['Rating'] >= 8.0]
high_rated_movies

             Movie  Year  Rating
0        Inception  2010     8.8
1  The Dark Knight  2008     9.0
2     Interstellar  2014     8.6

In [ ]:
# Create a new column 'Decade' based on the 'Year' column
df_introduction['Decade'] = (df_introduction['Year'] // 10) * 10
df_introduction

              Movie  Year  Rating  Decade
0         Inception  2010     8.8    2010
1   The Dark Knight  2008     9.0    2000
2      Interstellar  2014     8.6    2010
3           Dunkirk  2017     7.9    2010
4  Greatest Showman  2017     7.5    2010

In [ ]:
# Get the movie title with the highest rating
highest_rated_movie = df_introduction.loc[df_introduction['Rating'].idxmax(), 'Movie']
highest_rated_movie

'The Dark Knight'

### IMDB Dataset of Movie Reviews with Sentiments
The IMDB Dataset is a popular dataset used for natural language processing (NLP) and machine learning tasks, particularly for binary sentiment classification (positive/negative). It contains a large collection of movie reviews from the Internet Movie Database (IMDB), labeled according to their sentiment.

In [ ]:
# Load the IMDB dataset
df = pd.read_csv(IMDB_FILE)
df

                                                    text  label  year
0      I grew up (b. 1965) watching and loving the Th...      0  2015
1      When I put this movie in my DVD player, and sa...      0  2022
2      Why do people who do not know what a particula...      0  2015
3      Even though I have great interest in Biblical ...      0  2021
4      Im a die hard Dads Army fan and nothing will e...      1  2021
...                                                  ...    ...   ...
39995  "Western Union" is something of a forgotten cl...      1  2018
39996  This movie is an incredible piece of work. It ...      1  2021
39997  My wife and I watched this movie because we pl...      0  2023
39998  When I first watched Flatliners, I was amazed....      1  2018
39999  Why would this film be so good, but only gross...      1  2016

[40000 rows x 3 columns]

### Exercise 01: Data Inspection and Initial Understanding
Understand the structure and contents of the IMDB dataset. Inspect the data types, check for missing values, and analyze the distribution of labels (positive/negative reviews).
1. Display the first 5 rows and last 5 rows of the dataset.
2. Check the column names, data types, and the number of missing values for each column.
3. Count the number of positive and negative reviews.

**Hints**:
* Use `.head()` and `.tail()` to inspect the rows of a dataframe (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html)).
* `.info()` will give you the column names and data types (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)).
* `.isna().sum()` will tell you if there are any missing values in the dataset (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)).
* Use `.value_counts()` to count the distribution of positive and negative labels (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)).

In [ ]:
# TODO: Your implementation
df.head()

                                                text  label  year
0  I grew up (b. 1965) watching and loving the Th...      0  2015
1  When I put this movie in my DVD player, and sa...      0  2022
2  Why do people who do not know what a particula...      0  2015
3  Even though I have great interest in Biblical ...      0  2021
4  Im a die hard Dads Army fan and nothing will e...      1  2021

In [ ]:
df.tail()

                                                    text  label  year
39995  "Western Union" is something of a forgotten cl...      1  2018
39996  This movie is an incredible piece of work. It ...      1  2021
39997  My wife and I watched this movie because we pl...      0  2023
39998  When I first watched Flatliners, I was amazed....      1  2018
39999  Why would this film be so good, but only gross...      1  2016

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    40000 non-null  object
 1   label   40000 non-null  int64
 2   year    40000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 937.6+ KB

In [ ]:
df.isna().sum()

text     0
label    0
year     0
dtype: int64

In [ ]:
df['label'].value_counts()

label
0    20019
1    19981
Name: count, dtype: int64

### Exercise 02: Show examples
Print out some examples for positive and negative reviews.
1. Print out 5 random reviews which have the label "0"
2. Print out 5 random reviews which have the label "1"

**Hints**:
* Use `.sample()` on the filtered dataframe (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html)).
* You can create a python list from the samples by using `to_list()`
* Iterate over this list and print the elements

In [ ]:
# Filter the dataframe by the 'label' column
filtered_label_0_reviews = df[df['label'] == 0]
filtered_label_1_reviews = df[df['label'] == 1]

# TODO: Your implementation
label_0_reviews = filtered_label_0_reviews.sample(5)["text"].to_list()
label_1_reviews = filtered_label_1_reviews.sample(5)["text"].to_list()

print("Sample reviews with label 0:")
for review in label_0_reviews:
    print(review)

print()
print("Sample reviews with label 1:")
for review in label_1_reviews:
    print(review)

### Exercise 03: Minor data manipulation
Rename columns and values of the given dataframe.

1. Rename the column "label" to "sentiment"
2. Rename the column "text" to "review"
3. Rename values in column "sentiment" to "positive" and "negative"
4. Print the dataframe

**Hints**:
* Use `.rename()` for renaming columns (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html))
* Use `.map()` for updating values of a column (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.map.html))

In [ ]:
# TODO: Your implementation
df.rename(columns={"text": "review", "label": "sentiment"}, inplace=True)
df["sentiment"] = df["sentiment"].map({0: "negative", 1: "positive"})
df

                                                  review sentiment  year
0      I grew up (b. 1965) watching and loving the Th...  negative  2015
1      When I put this movie in my DVD player, and sa...  negative  2022
2      Why do people who do not know what a particula...  negative  2015
3      Even though I have great interest in Biblical ...  negative  2021
4      Im a die hard Dads Army fan and nothing will e...  positive  2021
...                                                  ...       ...   ...
39995  "Western Union" is something of a forgotten cl...  positive  2018
39996  This movie is an incredible piece of work. It ...  positive  2021
39997  My wife and I watched this movie because we pl...  negative  2023
39998  When I first watched Flatliners, I was amazed....  positive  2018
39999  Why would this film be so good, but only gross...  positive  2016

[40000 rows x 3 columns]

### Exercise 04: Summary Statistics on Review Lengths
Analyze the length of the movie reviews in terms of character count. Calculate key summary statistics for the review lengths, including the average, maximum, and minimum lengths.
1. Add a new column called review_length that stores the length of each review (in characters).
2. Calculate the average, maximum, and minimum review lengths.
3. Find the median and standard deviation of the review lengths.
4. Find the longest and shortest reviews in the dataset.

**Hints**:
* Use `.apply(len)` to create the review_length column  (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)).
* Use `.mean()`, `.max()`, `.min()`, `.median()`, and `.std()` to get the desired statistics (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)).
* To find the longest and shortest reviews, you can use `.idxmax()` and `.idxmin()` on the review_length column (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)).

In [ ]:
# TODO: Your implementation
# Calculate length of reviews
df["review_length"] = df["review"].apply(len)

# Average, Minimum and Maximum
avg_review_length = df["review_length"].mean()
min_review_length = df["review_length"].min()
max_review_length = df["review_length"].max()
print(f"{avg_review_length=}, {min_review_length=}, {max_review_length=}")

# Median & Standard Deviation
median_review_length = df["review_length"].median()
std_review_length = df["review_length"].std()
print(f"{median_review_length=}, {std_review_length=}")

# Find longest review
longest_review = df.loc[df["review_length"].idxmax()]
print(f"Longest review: {longest_review['review']}")

# Find shortest review
shortest_review = df.loc[df["review_length"].idxmin()]
print(f"Shortest review: {shortest_review['review']}")

avg_review_length=np.float64(1310.29325), min_review_length=np.int64(32), max_review_length=np.int64(13704)
median_review_length=np.float64(973.0), std_review_length=np.float64(988.3585988002701)
Longest review: Match 1: Tag Team Table Match Bubba Ray and Spike Dudley vs Eddie Guerrero and Chris Benoit Bubba Ray and Spike Dudley started things off with a Tag Team Table Match against Eddie Guerrero and Chris Benoit. According to the rules of the match, both opponents have to go through tables in order to get the win. Benoit and Guerrero heated up early on by taking turns hammering first Spike and then Bubba Ray. A German suplex by Benoit to Bubba took the wind out of the Dudley brother. Spike tried to help his brother, but the referee restrained him while Benoit and Guerrero ganged up on him in the corner. With Benoit stomping away on Bubba, Guerrero set up a table outside. Spike dashed into the ring and somersaulted over the top rope onto Guerrero on the outside! After recovering and taking care of Spike, Guerrero slipped a table into the ring and helped the Wolverine set it up. The tandem then set up for a double superplex from the middle rope which would have put Bubba through the table, but Spike knocked the table over right before his brother came crashing down! Guerrero and Benoit propped another table in the corner and tried to Irish Whip Spike through it, but Bubba dashed in and blocked his brother. Bubba caught fire and lifted both opponents into back body drops! Bubba slammed Guerrero and Spike stomped on the Wolverine from off the top rope. Bubba held Benoit at bay for Spike to soar into the Wassup! headbutt! Shortly after, Benoit latched Spike in the Crossface, but the match continued even after Spike tapped out. Bubba came to his brother's rescue and managed to sprawl Benoit on a table. Bubba leapt from the middle rope, but Benoit moved and sent Bubba crashing through the wood! But because his opponents didn't force him through the table, Bubba was allowed to stay in the match. The first man was eliminated shortly after, though, as Spike put Eddie through a table with a Dudley Dawg from the ring apron to the outside! Benoit put Spike through a table moments later to even the score. Within seconds, Bubba nailed a Bubba Bomb that put Benoit through a table and gave the Dudleys the win! Winner: Bubba Ray and Spike Dudley<br /><br />Match 2: Cruiserweight Championship Jamie Noble vs Billy Kidman Billy Kidman challenged Jamie Noble, who brought Nidia with him to the ring, for the Cruiserweight Championship. Noble and Kidman locked up and tumbled over the ring, but raced back inside and grappled some more. When Kidman thwarted all Noble's moves, Noble fled outside the ring where Nidia gave him some encouragement. The fight spread outside the ring and Noble threw his girlfriend into the challenger. Kidman tossed Nidia aside but was taken down with a modified arm bar. Noble continued to attack Kidman's injured arm back in the ring. Kidman's injured harm hampered his offense, but he continued to battle hard. Noble tried to put Kidman away with a powerbomb but the challenger countered into a facebuster. Kidman went to finish things with a Shooting Star Press, but Noble broke up the attempt. Kidman went for the Shooting Star Press again, but this time Noble just rolled out of harm's way. Noble flipped Kidman into a power bomb soon after and got the pin to retain his WWE Cruiserweight Championship! Winner: Jamie Noble<br /><br />Match 3: European Championship William Regal vs Jeff Hardy William Regal took on Jeff Hardy next in an attempt to win back the European Championship. Jeff catapulted Regal over the top rope then took him down with a hurracanrana off the ring apron. Back in the ring, Jeff hit the Whisper in the wind to knock Regal for a loop. Jeff went for the Swanton Bomb, but Regal got his knees up to hit Jeff with a devastating shot. Jeff managed to surprise Regal with a quick rollup though and got the pin to keep the European Championship! Regal started bawling at seeing Hardy celebrate on his way back up the ramp. Winner: Jeff Hardy<br /><br />Match 4: Chris Jericho vs John Cena Chris Jericho had promised to end John Cena's career in their match at Vengeance, which came up next. Jericho tried to teach Cena a lesson as their match began by suplexing him to the mat. Jericho continued to knock Cena around the ring until his cockiness got the better of him. While on the top rope, Jericho began to showboat and allowed Cena to grab him for a superplex! Cena followed with a tilt-a-whirl slam but was taken down with a nasty dropkick to the gut. The rookie recovered and hit a belly to belly suplex but couldn't put Y2J away. Jericho launched into the Lionsault but Cena dodged the move. Jericho nailed a bulldog and then connected on the Lionsault, but did not go for the cover. He goaded Cena to his feet so he could put on the Walls of Jericho. Cena had other ideas, reversing the move into a pin attempt and getting the 1-2-3! Jericho went berserk after the match. Winner: John Cena<br /><br />Match 5: Intercontinental Championship RVD vs Brock Lesnar via disqualification The Next Big Thing and Mr. Pay-Per-View tangled with the Intercontinental Championship on the line. Brock grabbed the title from the ref and draped it over his shoulder momentarily while glaring at RVD. Van Dam 's quickness gave Brock fits early on. The big man rolled out of the ring and kicked the steel steps out of frustration. Brock pulled himself together and began to take charge. With Paul Heyman beaming at ringside, Brock slammed RVD to the hard floor outside the ring. From there, Brock began to overpower RVD, throwing him with ease over the top rope. RVD landed painfully on his back, then had to suffer from having his spine cracked against the steel ring steps. The fight returned to the ring with Brock squeezing RVD around the ribs. RVD broke away and soon after leveled Brock with a kick to the temple. RVD followed with the Rolling Thunder but Brock managed to kick out after a two-count. The fight looked like it might be over soon as RVD went for a Five-Star Frog Splash. Brock, though, hoisted Van Dam onto his shoulder and went for the F-5, but RVD whirled Brock into a DDT and followed with the Frog Splash! He went for the pin, but Heyman pulled the ref from the ring! The ref immediately called for a disqualification and soon traded blows with Heyman! After, RVD leapt onto Brock from the top rope and then threatened to hit the Van Terminator! Heyman grabbed RVD's leg and Brock picked up the champ and this time connected with the F-5 onto a steel chair! Winner: RVD<br /><br />Match 6: Booker T vs the Big Show Booker T faced the Big Show one-on-one next. Show withstood Booker T's kicks and punches and slapped Booker into the corner. After being thrown from the ring, Booker picked up a chair at ringside, but Big Show punched it back into Booker's face. Booker tried to get back into the game by choking Show with a camera cable at ringside. Booker smashed a TV monitor from the Spanish announcers' position into Show's skull, then delivered a scissors kick that put both men through the table! Booker crawled back into the ring and Big Show staggered in moments later. Show grabbed Booker's throat but was met by a low blow and a kick to the face. Booker climbed the top rope and nailed a somersaulting leg drop to get the pin! Winner: Booker T<br /><br />Announcement: Triple H entered the ring to a thunderous ovation as fans hoped to learn where The Game would end up competing. Before he could speak, Eric Bishoff stopped The Game to apologize for getting involved in his personal business. If Triple H signed with RAW, Bischoff promised his personal life would never come into play again. Bischoff said he's spent the past two years networking in Hollywood. He said everyone was looking for the next breakout WWE Superstar, and they were all talking about Triple H. Bischoff guaranteed that if Triple H signed with RAW, he'd be getting top opportunities coming his way. Stephanie McMahon stepped out to issue her own pitch. She said that because of her personal history with Triple H, the two of them know each other very well. She said the two of them were once unstoppable and they can be again. Bischoff cut her off and begged her to stop. Stephanie cited that Triple H once told her how Bischoff said Triple H had no talent and no charisma. Bischoff said he was young at the time and didn't know what he had, but he still has a lot more experience that Stephanie. The two continued to bicker back and forth, until Triple H stepped up with his microphone. The Game said it would be easy to say "screw you" to either one of them. Triple H went to shake Bischoff's hand, but pulled it away. He said he would rather go with the devil he knows, rather than the one he doesn't know. Before he could go any further, though, Shawn Michaels came out to shake things up. HBK said the last thing he wanted to do was cause any trouble. He didn't want to get involved, but he remembered pledging to bring Triple H to the nWo. HBK said there's nobody in the world that Triple H is better friends with. HBK told his friend to imagine the two back together again, making Bischoff's life a living hell. Triple H said that was a tempting offer. He then turned and hugged HBK, making official his switch to RAW! Triple H and HBK left, and Bischoff gloated over his victory. Bischoff said the difference between the two of them is that he's got testicles and she doesn't. Stephanie whacked Bischoff on the side of the head and left!<br /><br />Match 7: Tag Team Championship Match Christian and Lance Storm vs Hollywood Hogan and Edge The match started with loud "USA" chants and with Hogan shoving Christian through the ropes and out of the ring. The Canadians took over from there. But Edge scored a kick to Christian's head and planted a facebuster on Storm to get the tag to Hogan. Hogan began to Hulk up and soon caught Christian with a big boot and a leg drop! Storm broke up the count and Christian tossed Hogan from the ring where Storm superkicked the icon. Edge tagged in soon after and dropped both opponents. He speared both of them into the corner turnbuckles, but missed a spear on Strom and hit the ref hard instead. Edge nailed a DDT, but the ref was down and could not count. Test raced down and took down Hogan then leveled Edge with a boot. Storm tried to get the pin, but Edge kicked out after two. Riksihi sprinted in to fend off Test, allowing Edge to recover and spear Storm. Christian distracted the ref, though, and Y2J dashed in and clocked Edge with the Tag Team Championship! Storm rolled over and got the pinfall to win the title! Winners and New Tag Team Champions: Christian and Lance Storm<br /><br />Match 8: WWE Undisputed Championship Triple Threat Match. The Rock vs Kurt Angle and the Undertaker Three of WWE's most successful superstars lined up against each other in a Triple Threat Match with the Undisputed Championship hanging in the balance. Taker and The Rock got face to face with Kurt Angle begging for some attention off to the side. He got attention in the form of a beat down form the two other men. Soon after, Taker spilled out of the ring and The Rock brawled with Angle. Angle gave a series of suplexes that took down Rock, but the Great One countered with a DDT that managed a two-count. The fight continued outside the ring with Taker coming to life and clotheslining Angle and repeatedly smacking The Rock. Taker and Rock got into it back into the ring, and Taker dropped The Rock with a sidewalk slam to get a two-count. Rock rebounded, grabbed Taker by the throat and chokeslammed him! Angle broke up the pin attempt that likely would have given The Rock the title. The Rock retaliated by latching on the ankle lock to Kurt Angle. Angle reversed the move and Rock Bottomed the People's Champion. Soon after, The Rock disposed of Angle and hit the People's Elbow on the Undertaker. Angle tried to take advantage by disabling the Great One outside the ring and covering Taker, who kicked out after a two count. Outside the ring, Rock took a big swig from a nearby water bottle and spewed the liquid into Taker's face to blind the champion. Taker didn't stay disabled for long, and managed to overpower Rock and turn his attention to Angle. Taker landed a guillotine leg drop onto Angle, laying on the ring apron. The Rock picked himself up just in time to break up a pin attempt on Kurt Angle. Taker nailed Rock with a DDT and set him up for a chokeslam. ANgle tried sneaking up with a steel chair, but Taker caught on to that tomfoolery and smacked it out of his hands. The referee got caught in the ensuing fire and didn't see Angle knock Taker silly with a steel chair. Angle went to cover Taker as The Rock lay prone, but the Dead Man somehow got his shoulder up. Angle tried to pin Rock, but he too kicked out. The Rock got up and landed Angle in the sharpshooter! Angle looked like he was about to tap, but Taker kicked The Rock out of the submission hold. Taker picked Rock up and crashed him with the Last Ride. While the Dead Man covered him for the win, Angle raced in and picked Taker up in the ankle lock! Taker went delirious with pain, but managed to counter. He picked Angle up for the last ride, but Angle put on a triangle choke! It looked like Taker was about to pass out, but The Rock broke Angle's hold only to find himself caught in the ankle lock. Rock got out of the hold and watched Taker chokeslam Angle. Rocky hit the Rock Bottom, but Taker refused to go down and kicked out. Angle whirled Taker up into the Angle Slam but was Rock Bottomed by the Great One and pinned! Winner and New WWE Champion: The Rock<br /><br />~Finally there is a decent PPV! Lately the PPV weren't very good, but this one was a winner. I give this PPV a A-<br /><br />
Shortest review: Read the book, forget the movie!

### Exercise 05: Sentiment Distribution by length of review
Understand how review lengths vary by sentiment (positive/negative). Investigate whether longer reviews tend to be more positive or negative.
1. Group the reviews by sentiment (positive, negative).
2. Calculate the average, minimum and maximum review length for each sentiment.
3. Compare the distribution of review lengths between positive and negative reviews.

**Hints**:
* Use `.groupby()` to group the data by sentiment (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)).
* Calculate the mean length using `.mean()` and the maximum/minimum lengths with `.agg(['max', 'min'])` (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)).
* To compare distributions, you can use `.describe()` to summarize the statistics for each group (see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)).

In [ ]:
# TODO: Your implementation here

# Solution (1/2)

# Group the reviews by label (positive/negative)
grouped = df.groupby("sentiment")

# Calculate the average, minimum and maximum review length for each sentiment
stats_count_by_sentiment = grouped["review_length"].agg(["mean", "min", "max"]).rename(
    columns={
        "mean": "avg_review_length",
        "min": "min_review_length",
        "max": "max_review_length"
    }
)

stats_count_by_sentiment

           avg_review_length  min_review_length  max_review_length
sentiment
negative         1292.536990                 32               8969
positive         1328.083279                 65              13704

In [ ]:
# Solution (2/2)
# Compare the distribution of review lengths between positive and negative reviews
print("Review length distribution by sentiment:")
print(grouped["review_length"].describe())

Review length distribution by sentiment:
             count         mean          std   min    25%    50%     75%  \
sentiment
negative   20019.0  1292.536990   942.220087  32.0  705.0  973.0  1571.0
positive   19981.0  1328.083279  1032.236721  65.0  690.0  972.0  1621.0

               max
sentiment
negative    8969.0
positive   13704.0